---
title: WP REST API (v1) Documentation
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>{{ page.title }}</title>

  <!-- Flatdoc -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/styles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/pygment_trac.css">

  <script src="https://cdn.rawgit.com/rstacruz/flatdoc/gh-pages/theme-white/script.js"></script>
  <script src="{{ site.baseurl }}js/sidebar.js"></script>

  <!-- Meta -->
  <meta content="WP API version 1" property="og:title">
  <meta content="Official Documentation for the WP REST API version 1" name="description">
</head>

{% include header.html %}

<div class="content-root">

{% include sidebar.html %}

  <div class="content">{{ content }}</div>
</div>

{% include footer.html %}
